# Ignore config files
# analysis.py
# config.yaml
# config/
# *.env
# .env
# *.key
# *.secret
# *.pkl
# *.db
# *.sqlite3
# notebook/
# *.ipynb
# # Ignore data files
# data/
# dataset/
# *.csv
# logs/
# logs/pipeline.log

# # Ignore Python cache and virtual environments
__pycache__/
*.pyc
# venv/
# .env/

# Remove __pycache__ directories
for /d /r . %d in (__pycache__) do @if exist "%d" rd /s /q "%d"

# Remove .pyc files
del /s *.pyc
