# Ignore config files
# config.yaml
# config/
# *.env
# .env
# *.key
# *.secret
# *.pkl
# *.db
# *.sqlite3
# notebook/
# *.ipynb
# # Ignore data files
# data/
# dataset/
# *.csv
# logs/
# logs/pipeline.log

# # Ignore Python cache and virtual environments
# __pycache__/
# *.pyc
# venv/
# .env/
